<div class="header">
    <div class="logo">
       Bfood
    </div>

    <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
    <a mat-button routerLink="/generator" routerLinkActive="active">Your Locals</a>
    <a mat-button>Contacts</a>

    <span class="user">
        <a *ngIf="authService.isLoggedIn()" mat-stroked-button routerLink="/dashboard">User dashboard</a>
        <a *ngIf="!authService.isLoggedIn()" mat-button routerLink="/login">Login</a>
        <a *ngIf="!authService.isLoggedIn()" mat-button routerLink="/register">Registration</a>
    </span>
</div>
