<!-- Reservation -->
<div id="reservation" class="section">

	<!-- Backgound Image -->
	<div class="bg-image" style="background-image:url(https://media-cdn.tripadvisor.com/media/photo-s/19/70/97/ef/nobil-terrace-the-best.jpg)"></div>
	<!-- /Backgound Image -->

	<!-- container -->
	<div class="container">

		<!-- row -->
		<div class="row">

			<!-- reservation form -->
			<div class="col-md-6 col-md-offset-1 col-sm-10 col-sm-offset-1">
				<form class="reserve-form row">
					<div class="section-header text-center">
						<h2 class="title white-text">Book Your Table</h2>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="name">Name:</label>
							<input class="input" type="text" placeholder="Name" id="name">
						</div>
						<div class="form-group">
							<label for="phone">Phone:</label>
							<input class="input" type="tel" placeholder="Phone" id="phone">
						</div>

						<div class="form-group">
							<label for="date">Date:</label>
								<input class="input" type="text" placeholder="MM/DD/YYYY" id="date"
									   input matInput [matDatepicker]="picker" >
								<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
								<mat-datepicker #picker></mat-datepicker>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="email">Email:</label>
							<input class="input" type="email" placeholder="Email" id="email">
						</div>
						<div class="form-group">
							<label for="number">Number of Guests:</label>
							<select class="input" id="number">
								<option>1 Person</option>
								<option>2 People</option>
								<option>3 People</option>
								<option>4 People</option>
								<option>5 People</option>
								<option>6 People</option>
							</select>
						</div>
						<div class="form-group">
							<label for="time">Time:</label>
							<input class="input" type="text" placeholder="HH:MM" id="time">
						</div>
					</div>

					<div class="col-md-12 text-center">
						<button class="main-button" routerLink="/qrcode" routerLinkActive="active">Book Now</button>
					</div>

				</form>
			</div>
			<!-- /reservation form -->

			<!-- opening time -->
			<div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1">
				<div class="opening-time row">
					<div class="section-header text-center">
						<h2 class="title white-text">Opening Time</h2>
					</div>
					<ul>
						<li>
							<h4 class="day">Sunday</h4>
							<h4 class="hours">8:00 am – 11:00 pm</h4>
						</li>
						<li>
							<h4 class="day">Monday</h4>
							<h4 class="hours">8:00 am – 11:00 pm</h4>
						</li>
						<li>
							<h4 class="day">Tuesday</h4>
							<h4 class="hours">8:00 am – 11:00 pm</h4>
						</li>
						<li>
							<h4 class="day">Wednesday</h4>
							<h4 class="hours">8:00 am – 11:00 pm</h4>
						</li>
						<li>
							<h4 class="day">Thursday</h4>
							<h4 class="hours">8:00 am – 11:00 pm</h4>
						</li>
						<li>
							<h4 class="day">Friday</h4>
							<h4 class="hours">Closed</h4>
						</li>
						<li>
							<h4 class="day">Saturday</h4>
							<h4 class="hours">Closed</h4>
						</li>
					</ul>
				</div>
			</div>
			<!-- /opening time -->

		</div>
		<!-- /row -->

	</div>
	<!-- /container -->

</div>
<!-- /Reservation -->
