
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column1 {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column1 img {
    margin-top: 8px;
    vertical-align: middle;
    height: 310px;
    width: 320px;

  }

  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    height: 310px;
    width: 320px;
  }
