<p></p>

<div class="row">
    <div class="column1">
        <a href="http://localhost:4200/rezervation/index.html">
            <img src="https://m.fest.md/files/places/3/image_301_2_large.jpg">
            <img src="https://static.tildacdn.com/tild3736-6133-4436-b361-376430653839/asa.jpg" >
            <img src="https://m.fest.md/files/places/10/image_1006_16_large.png">
            <img src="https://m.fest.md/files/places/6/image_683_5_large.png">

        </a>
    </div>
    <div class="column">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Burger_King_logo.svg/1012px-Burger_King_logo.svg.png">
      <img src="https://newopen.uz/img/c0c542e2f329c344f31b2648c8b65683.jpg">
      <img src="https://notorium.md/upload/brands/34665272.jpg">
      <img src="https://guerrillaradio.b-cdn.net/avanpost/uploads/images/2020/7/10/whatsapp-image-2020-07-09-at-18-16-46-tnvh.jpeg">
    </div>
    <div class="column">
      <img src="https://10619-2.s.cdn12.com/rests/original/102_504487903.jpg">
      <img src="https://foodhouse.md/files/restaurant/logo_salat.png">
      <img src="https://upload.wikimedia.org/wikipedia/commons/1/15/Black_star_burger.png">
      <img src="https://deliveryboy.md/web/image/product.template/93488/image_1024?unique=8e1f25c">
    </div>
  </div>


