<p>inter-maps works!</p>
<div>
<div class="container-fluid text-center">
    <h1><a href="http://fabricjs.com/" target="_blank">Fabric.js</a> Restaurant reservation system</h1>
    <p class="text-muted">There is no need to use jQuery or Bootstrap at all, it's used only to show modals and make buttons look better. I have also used <a href="https://refreshless.com/nouislider/" target="_blank">noUiSlider</a> for time selection.</p>
    <div class="form-group admin-menu">
        <div class="row">
            <div class="col-sm-2 col-sm-offset-3 form-group">
                <label>Width (px)</label>
                <input type="number" id="width" class="form-control" value="302" />
            </div>
            <div class="col-sm-2 form-group">
                <label>Height (px)</label>
                <input type="number" id="height" class="form-control" value="812" />
            </div>
            <div class="col-sm-2 form-group">
                <label>&nbsp;</label>
                <br />
                <button class="btn btn-primary">Save</button>
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-primary rectangle">+ &#9647; Table</button>
            <button class="btn btn-primary circle">+ &#9711; Table</button>
            <button class="btn btn-primary triangle">+ &#9651; Table</button>
            <button class="btn btn-primary chair">+ Chair</button>
            <button class="btn btn-primary bar">+ Bar</button>
            <button class="btn btn-default wall">+ Wall</button>
            <button class="btn btn-danger remove">Remove</button>
            <button class="btn btn-warning customer-mode">Customer mode</button>
        </div>
    </div>

    <div class="form-group customer-menu" style="display: none;">
        <div class="btn-group">
            <button class="btn btn-success submit">Submit reservation</button>
            <button class="btn btn-warning admin-mode">Admin mode</button>
        </div>
        <br />
        <br />
        <div id="slider"></div>
        <div id="slider-value"></div>
    </div>

    <canvas id="canvas" width="302" height="812"></canvas>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p id="modal-table-id"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
    <script scr="./inter_maps.js"></script>
</div>
