<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="header-image">
	<h2>Login</h2>
</div>
<div class="container pt-60">
	<div class="row">
		<form class="col s12" (submit)="userLogin()">
			<div class="row">
				<div class="input-field col s12">
					<input matInput [(ngModel)]="username" id="username" name="username" type="text" placeholder="Username"
						class="validate">
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input [(ngModel)]="password" id="password" name="password" placeholder="Password" type="password"
						class="validate">
				</div>
			</div>
			<label>
				<input type="checkbox" />
				<span>Remember Me</span>
			</label>
			<div class="row">
				<div class="col s12 mt-25">
					<button class="btn waves-effect waves-light pulse" type="submit">Login Now
						<i class="material-icons right">send</i>
					</button>
				</div>
			</div>
		</form>
	</div>
</div>