<app-header></app-header>
<flash-messages></flash-messages>
<router-outlet></router-outlet>


<div class="footer container">
  <p class="float-right"><a href="#">Back to top</a></p>
  <p>© 2021 Bfood</p>

</div>


