<div class="section">
  <div class="ribbon">
    <div class="quote">
      <span>"Enjoy the food, choose your local"</span>
    </div>
    <div class="button">
      <a mat-button routerLink="/local" routerLinkActive="active" >Choose local</a>
    </div>
  </div>
</div>
<div class="container" role="main">
  <div class="card">
    <div class="profile">
      <img id="cardProfile"
           src="https://scontent.fkiv5-1.fna.fbcdn.net/v/t1.0-9/151263780_242938707455521_435759312207427696_o.jpg?_nc_cat=107&ccb=1-3&_nc_sid=730e14&_nc_ohc=xjz2XWc8tnIAX-d7BMa&_nc_ht=scontent.fkiv5-1.fna&oh=df3af69576b39763bcf5f0392f9700f0&oe=6079168D" />
    </div>
    <div class="info">
      <div class="content">
        <div class="title">
          About Bfood
        </div>
        <p>
          <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            In eu mi bibendum neque egestas congue quisque. Laoreet id donec ultrices tincidunt. Cras tincidunt lobortis feugiat vivamus at augue eget arcu.
            Blandit massa enim nec dui nunc mattis enim ut tellus. Pellentesque dignissim enim sit amet venenatis urna cursus eget.
            Eleifend quam adipiscing vitae proin sagittis nisl rhoncus. Nunc congue nisi vitae suscipit tellus mauris a. Proin sed libero enim sed.
            Augue neque gravida in fermentum et sollicitudin ac.  </i>
        </p>
      </div>
    </div>
  </div>
</div>
