* {
    font-family: "Varela Round", sans-serif;
}
h1 {
    text-align: center;
    color: #fff;
    margin: 0;
    font-size: 3rem;
}
body {
    background-color: #0c84fd7a;
}
.btn {
    background-color: #adc743;
}
.btn:hover {
    background-color: #879a38;
}
.container {
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.mb-0 {
    margin-bottom: 0;
}
.row {
    margin-bottom: 0px;
}
.mt-25 {
    margin-top: 25px;
}
button,
input {
    border-bottom-color: #fff !important;
}
.input-field > label,
span {
    color: #444 !important;
}
input:not([type]),
input[type="text"]:not(.browser-default),
input[type="password"]:not(.browser-default),
input[type="email"]:not(.browser-default),
input[type="url"]:not(.browser-default),
input[type="time"]:not(.browser-default),
input[type="date"]:not(.browser-default),
input[type="datetime"]:not(.browser-default),
input[type="datetime-local"]:not(.browser-default),
input[type="tel"]:not(.browser-default),
input[type="number"]:not(.browser-default),
input[type="search"]:not(.browser-default),
textarea.materialize-textarea,
input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    box-shadow: none !important;
    border-bottom: 2px solid #adc743 !important;
}
textarea.materialize-textarea {
    height: 6rem;
}
form {
    padding: 25px;
}
[type="checkbox"]:checked + span:not(.lever):before {
    border-right-color: #adc743;
    border-bottom-color: #adc743;
}

.header-image {
	width: 100%;
    height: 150px;
    background: #484848 url(https://health.clevelandclinic.org/wp-content/uploads/sites/3/2019/06/cropped-GettyImages-643764514.jpg);
    background-position-y: center;
    background-size: cover;
    background-blend-mode: overlay;

	h2 {
		min-width: 980px;
		margin: 0 calc((100% - 980px) * 0.5);
		transform: translateY(50px);
		color: white;
		font-size: 42px;
	}
}